.env
*.qgs~
data/
env/
__pycache__/
temp/
out/
qgis/out/
results/
docker-compose.yml
.idea/
python/venv
python/.venv
python/local.settings.json
testdata/import/hfp.csv
.vscode/
analytics-data

scripts/migra_dev/.env
scripts/migra_dev/migra_dev.sql
scripts/migra_test/.env
scripts/migra_test/migra_test.sql