.env
*.qgs~
data/
env/
__pycache__/
temp/
out/
qgis/out/
results/
docker-compose.yml
.idea/
python/venv
python/.venv
python/local.settings.json
testdata/import/hfp.csv
.vscode/
analytics-data

scripts/dev_deploy/.env
scripts/dev_deploy/dev_deploy.sql
scripts/test_deploy/.env
scripts/test_deploy/test_deploy.sql