.env
*.qgs~
data/
env/
__pycache__/
temp/
out/
qgis/out/
results/
docker-compose.yml
.idea/
python/api/venv
python/api/local.settings.json
python/importer/venv
python/importer/local.settings.json
testdata/import/hfp.csv
